<doctype html>
<head>	
<title>Add User - Python Flask MySQL CRUD</title>
<style type="text/css">
	h2 {
		color: dodgerblue;
	}
</style>
<h2>Add User</h2>
<form method="POST" action="/add">
    <dl>
		<p>
			<input name="firstName" value="" type="text" placeholder="firstName" autocomplete="off" required>
		</p>
		<p>
			<input name="lastName" value="" type="text" placeholder="lastName" autocomplete="off" required>
		</p>
		<p>
			<input name="inputEmail" value="" type="text" placeholder="Email" autocomplete="off" required>
		</p>
		<p>
			<input name="phone" value="" type="number" placeholder="phone" autocomplete="off" maxlength="10" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>